/* 中文字体包太大 */
/* @font-face{
    font-family: "Songti";
    src:url(../webfonts/Songti.ttc)
}
@font-face{
    font-family: "PingFang";
    src:url(../webfonts/PingFang.ttc)
}
@font-face{
    font-family: "HuaWenXingKai";
    src:url(../webfonts/HuaWenXingKai.ttf)
} */