#divStyle{
    width: 640px;
    height: 480px;
    color: #000000;
    background-image: url("../images/chick.jpg");
}

.hrStyle{
    border:3px solid rgba(255, 0, 255, 0.50);
    margin-bottom: 2px;
    margin-top: 2px
}

h1{
    color:red;
}